.root {
  overflow: hidden;
  width: 100%;
  border-radius: 4px;

  --scrollbar-size: 10px;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollbar {
  display: flex;
  padding: 2px;
  touch-action: none;
  transition: background 160ms ease-out;
  user-select: none;

  &[data-orientation='vertical'] {
    width: var(--scrollbar-size);
  }

  &[data-orientation='horizontal'] {
    height: var(--scrollbar-size);
    flex-direction: column;
  }
}

.thumb {
  position: relative;
  flex: 1;
  border-radius: var(--scrollbar-size);
  background: #495057;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 44px;
    height: 100%;
    min-height: 44px;
    content: '';
    transform: translate(-50%, -50%);
  }
}

.text {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.tag {
  padding-top: 10px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 18px;
}
